{{#sh-content-view-container as |container|}}
<header class="view-header">
  {{#sh-view-title openMobileMenu="openMobileMenu"}}
    <span>Products</span>
  {{/sh-view-title}}
  <section class="view-actions">

  </section>
</header>
<div class="view-container">
  <section class="content-list js-content-list {{if productListFocused 'keyboard-focused'}}">
    {{#sh-infinite-scroll-box tagName="section" classNames="content-list-content js-content-scrollbox" fetch="loadNextPage"}}
      <ol class="products-list">
        {{#each products key="id" as |product|}}
          {{#sh-products-list-item product=product active=(is-equal product currentProduct) onDoubleClick="openEditor" previewIsHidden=container.previewIsHidden as |component|}}
            {{#link-to component.viewOrEdit product.id class="permalink" title="Edit this product"}}
              <h3 class="entry-title">{{product.name}}</h3>
              <section class="entry-meta">
                <span class="price">{{product.price}}</span>
                <span class="author">{{component.authorName}}</span>
              </section>
            {{/link-to}}
          {{/sh-products-list-item}}
        {{/each}}
      </ol>
    {{/sh-infinite-scroll-box}}
  </section>
  <section class="content-preview js-content-preview {{if productContentFocused 'keyboard-focused'}}">
    {{outlet}}
  </section>
</div>
{{/sh-content-view-container}}