<section class="sh-view">
  <header class="view-header">
    {{#sh-view-title openMobileMenu="openMobileMenu"}}<span>Users</span>{{/sh-view-title}}
    <section class="view-actions">
      <button class="btn btn-green" {{action "openModal" "invite-new-user"}} >Invite People</button>
    </section>
  </header>

  {{#sh-infinite-scroll
    fetch="loadNextPage"
    isLoading=isLoading
    tagName="section"
    classNames="view-content users"
  }}
    <section class="user-list user-staff">
      {{#each users key="id" as |user|}}
        {{#link-to 'users.user' user class="user-list-item"}}
          {{#sh-user-avatar email=user.email as |component|}}
            <span class="user-list-item-figure">
              <img class="avatar" src={{component.avatarUrl}}>
              <span class="hidden">Photo of {{user.name}}</span>
            </span>
          {{/sh-user-avatar}}
          <div class="user-list-item-body">
            <span class="name">{{user.username}} {{user.email}}</span>
            <br>
            <span class="description">Joined at: {{user.dateJoined}}</span>
          </div>
        {{/link-to}}
      {{/each}}
    </section>
  {{/sh-infinite-scroll}}
</section>
