<div class="button-group" data-grouptype="{{dataGroupType}}">
  <a {{action "primaryAction"}} class="button primary radius" href="#">{{primaryActionText}}</a>
  <a {{action "secondaryAction"}} class="button secondary radius" href="#">{{secondaryActionText}}</a>
</div>
