<table class="cart-table large-12" role="grid">
  <thead>
    <tr>
      <th>Product name</th>
      <th>Unit price</th>
      <th>Quantity</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#each items as |item|}}
      <tr>
        <td>{{item.productName}}</td>
        <td>{{item.productPrice}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.lineSubtotal}}</td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
        <td>Line Total:</td>
        <td>{{item.lineTotal}}</td>
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <td colspan="2">&nbsp;</td>
    <td>Cart Subtotal</td>
    <td>{{cart.totalPrice}}</td>
  </tfoot>
</table>
