<div class="top">
	{{#link-to 'product' product.formatSlug class="icon"}}
		{{#if product.thumbnail}}
			<img src="{{product.thumbnail}}">
		{{else}}
			<img src="/static/images/placeholder.png">
		{{/if}}
	{{/link-to}}
    <div class="name column-name">
        <h3>{{#link-to 'product' product.formatSlug}} {{product.name}}{{/link-to}}</h3>
    </div>
    <div class="action-links">
        <ul class="action-buttons">
            <li><button {{action "view" product}} class="button secondary round extra-small">view</button></li>
        </ul>
    </div>
    <div class="desc">
        {{product.shortDescription}}
    </div>
</div>
<div class="bottom">
    <div class="price">{{product.unitPrice}}</div>
</div>
